allure-pytest==2.15.0
pbreflect==1.0.2
confluent-kafka==2.10.0
curlify==2.2.1
Faker==37.1.0
grpcio==1.74.0
grpcio-tools==1.74.0
Jinja2==3.1.6
pipreqs==0.4.13
protobuf==6.31.1
pkce==1.0.3
psycopg2-binary==2.9.10
pydantic==2.11.7
pydantic-settings==2.10.1
pytest==8.3.5
pytest-repeat==0.9.4
pytest-xdist==3.8.0
python-dotenv==1.1.0
Requests==2.32.3
requests-toolbelt==1.0.0
selenium==4.31.0
sqlalchemy==2.0.40
sqlmodel==0.0.24
zeep==4.3.1