AUTH_URL=http://auth.niffler.dc:9000
GATEWAY_URL=http://gateway.niffler.dc:8090
USERDATA_URL=http://userdata.niffler.dc:8089
FRONTEND_URL=http://frontend.niffler.dc
SPENDS_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-spend
USERDATA_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-userdata
AUTH_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-auth
KAFKA_ADDRESS=localhost
CURRENCY_SERVICE_HOST=localhost:8092
WIREMOCK_HOST=localhost:8094